<div class="container write-post d-flex justify-content-end">
    <button class="btn btn-outline-dark" type="button" (click)="onClickCreate()">
        Write a blog
    </button>
</div>
<div class="blog-post">
    <ng-container *ngIf="blogsService.blogs.length > 0; else emptyBlogs">
        <!--Using Angular *ngFor directive to loop through each Blog in blogs array, and render a BlogComponent for each one-->
        <app-blog *ngFor="let blog of blogs" [blog]="blog" (click)="onClickBlog(blog.id)"></app-blog>
    </ng-container>
    <ng-template #emptyBlogs>
        <div class="empty-blogs">
            No blogs to view
        </div>
    </ng-template>
</div>